services:
  broker1:
    image: apache/kafka:latest
    container_name: broker1
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://broker1:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@broker1:9093"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"


  kafka-init:
    image: apache/kafka:latest
    depends_on:
      - broker1
    entrypoint: ["/bin/sh", "-c"]
    command: |
      sleep 4 &&
      kafka-topics.sh --create --if-not-exists --topic kitchen.canceled --bootstrap-server broker1:9092 &&
      kafka-topics.sh --create --if-not-exists --topic payment.failed --bootstrap-server broker1:9092

    
  backend:
    build: 
      context: ./restaurant-order-service/
      dockerfile: Dockerfile
    container_name: order-service
    restart: always
    depends_on:
      - broker1
    ports:
      - "8081:8081"
    env_file:
      .env
